ARLO_USERNAME=<your_arlo_username>
ARLO_PASSWORD=<your_arlo_password>
TFA_TYPE=PUSH
TFA_SOURCE=push
TFA_HOST=
TFA_USERNAME=
TFA_PASSWORD=
MEDIA_FOLDER=/records
FILENAME=${Y}/${m}/${F}T${t}_${N}_${SN}
